.portfolio {
  &-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
  &-content {
    margin: auto w(270px);
  }
  &-tittle {
    font-size: w(90px);
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: w(40px);
  }
  &-text {
    line-height: w(70px);
    font-size: w(45px);
  }
  &-image {
    overflow: hidden;
    position: relative;
  }
  &-image img {
    width: 100%;
    max-width: 950px;
    height: auto;
  }
  @include maxW(1399px) {
    &-content {
      margin: auto 50px;
    }
  }
  @include maxW(1023px) {
    &-item {
      display: flex;
      flex-direction: column;
    }
    &-reverse {
      flex-direction: column-reverse;
    }
    &-content {
      margin: 50px;
    }
  }
}
